@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <h2>La Importancia de los Torneos Deportivos</h2>

    <p>Los eventos deportivos, ya sean individuales o de equipo,<br /> permiten desarrollar valores muy importantes como respeto, compromiso, esfuerzo y competitividad además de una mejora en la condición física y de salud. Con ello crece la competencia entre los organizadores de eventos deportivos.</p>


    <h2>¿Cuál es la importancia de un torneo deportivo?</h2>
    <p>
        por que realizar torneos deportivos
        Desarrollar una formación integral en las que se contemplen todas sus capacidades motrices, cognitivas, sociales y afectivas mediante la participación en diferentes actividades deportivas. Formar personas que en un futuro sean practicantes y/o seguidores del deporte en general o de alguna actividad deportiva.
    </p>
    <p><a href="https://www.senalcolombia.tv/deportes/deporte-y-desarrollo-sociedad" class="btn btn-primary btn-lg" target="_blank">Conozca Mas &raquo;</a></p>


    <h2>¿Cuáles son las ventajas de un torneo?</h2>
    <p>
     La realización de un torneo deportivo fomenta la colaboración entre los sectores público y privado y la comunidad; mejora la eficiencia del gobierno y se muestra como ejemplo de comportamientos en aspectos como el medio ambiente.
    </p>


    <h2>¿Cuál es el objetivo de un evento deportivo?<br></h2>
    <p>
        ¿Qué objetivo tiene un evento deportivo? Los objetivos de un evento deportivo pueden ser múltiples, desde potenciar el deporte en un municipio, atraer turismo, o también por qué no, sacar una rentabilidad o promocionar unas marcas.
    </p>
