@{
    ViewBag.Title = "Torneo";
}

<div class="jumbotron">
    <h1>TORNEOS DEPORTIVOS</h1>
    <p class="lead">En esta página encontrara la informacion de los diferentes torneos deportivos realizados en los Municipios del País</p>
    <p><a href="https://www.radionacional.co/actualidad/deportes/calendario-deportivo-para-los-colombianos-en-2022" class="btn btn-primary btn-lg"target="_blank">Actividades &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Como Participar</h2>
        <p>
            Al estar registrado tiene la oportunidad de participar en los diferentes torneos junto a su equipo y delegados de su Municipio,Tambien puede aprender  como brindar apoyo a torneos municipales,con los diferentes materiales que encontrara en el sitio
        </p>
        <p><a class="btn btn-default" href="http://www.ideflorida.gov.co/procesos-y-procedimientos/procedimiento-para-brindar-apoyo-a-torneos-deportivos"target="_blank"> Aprender&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fotos y Videos </h2>
        <p>Aca encontrara diferentes fotos y videos de los torneos realizados</p>
        <p><a class="btn btn-default" href="https://radionacional-v3.s3.amazonaws.com/s3fs-public/styles/portadas_relaciona_4_3/public/node/article/field_image/BeFunky-collage%20%286%29_1.jpg?h=5eb124e5&itok=RBHOyrg1" target="_blank">Ver Mas &raquo;</a></p>
        <p><a class="btn btn-default" href="<iframe width=" 560" height="315" src="https://www.youtube.com/embed/0Khk8o_eGOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>Videos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ministerio del Deporte</h2>
        <p>Encuentre los diferentes Municipios inscriptos en los torneos.</p>
        <p><a class="btn btn-default" href="https://www.mindeporte.gov.co/"target="_blank">MinDeporte &raquo;</a></p>
    </div>
</div>